<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788336670847-n33reqsq902io3dhvjtd2jq1u11iabm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788336670847-n33reqsq902io3dhvjtd2jq1u11iabm6</string>
	<key>API_KEY</key>
	<string>AIzaSyAXPKiGeEHxtxUtXAvRwdTIN11hIVBZNyg</string>
	<key>GCM_SENDER_ID</key>
	<string>788336670847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>krzywik.pl.firstDataBaseApp</string>
	<key>PROJECT_ID</key>
	<string>pierwszabaza</string>
	<key>STORAGE_BUCKET</key>
	<string>pierwszabaza.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788336670847:ios:31fd4032691568e21e674a</string>
	<key>DATABASE_URL</key>
	<string>https://pierwszabaza.firebaseio.com</string>
</dict>
</plist>